[submodule "Amaterasu/Vendor/imgui"]
	path = Vendor/imgui
	url = https://github.com/ocornut/imgui
    branch = docking

[submodule "Amaterasu/Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw
